# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\UPGRAD_CODE_REPOSITORY\BACK END PROJECTS\Proman\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
